.container {
  margin-top: 120px;
  border-top: 2px solid var(--mantine-color-primary-4);
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-xl);

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: "column";
  }
}
