.container {
  margin-top: 120px;
  border-top: 2px solid var(--mantine-color-gray-2);
  height: 6rem;
  display: flex;
  position: relative;
  align-items: center;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-xl);
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.logo {
  position: absolute;
  @media (max-width: $mantine-breakpoint-sm) {
    position: initial;
  }
}

.footerLinks {
  margin: 0 auto;
  padding-top: var(--mantine-spacing-xs);
  @media (min-width: $mantine-breakpoint-sm) {
    position: relative;
  }
}
