.root {
  height: 100vh;
  width: 100%;
  padding-top: calc(5 * var(--mantine-spacing-xl));
  padding-bottom: calc(3 * var(--mantine-spacing-xl));
}

.inner {
  display: flex;
  justify-content: space-between;
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: "column";
  }
}

.content {
  padding-top: calc(2 * var(--mantine-spacing-xl));
  padding-bottom: calc(2 * var(--mantine-spacing-xl));
  margin-right: calc(3 * var(--mantine-spacing-xl));
  z-index: 2;
  @media (max-width: $mantine-breakpoint-md) {
    margin-right: 0;
  }
}

.title {
  font-weight: 900;
  line-height: 1.2;
  max-width: 700px;
  font-size: 4em;
  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    font-size: 34px;
    line-height: 1.15;
  }
}
.description {
  opacity: 0.75px;
  max-width: 500px;
  @media (max-width: $mantine-breakpoint-md) {
    max-width: "100%";
  }
}
.control {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 22px;
  @media (max-width: $mantine-breakpoint-md) {
    width: "100%";
  }
}

.bluredLinkCard {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 6px;
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 250px;
  background: rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.3);
  transform: translatey(0px);
  animation: float 15s ease-in-out infinite;
}
.bluredLinkCard:nth-child(1) { animation-delay: 1s; }
.bluredLinkCard:nth-child(2) { animation-delay: 3s; }
.bluredLinkCard:nth-child(3) { animation-delay: 5s; }

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.11);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1);
		transform: translatey(0px);
	}
}